/* burgermenu */



/*GENERAL CSS*/
html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    background: linear-gradient(#2C6B9A, #204b6a);
    font-family: 'roboto', sans-serif;
    text-decoration: none;



}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

.loading {
    background: #2C6B9A;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.loading_ani {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 13rem auto 2rem auto;
    z-index: 200;
}



.container {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    position: fixed;
    z-index: 10;
    top: 3.7%;
    left: 91%;
    width: 2rem;
    height: 3rem;
}

.container2 {
    display: inline-block;
    cursor: pointer;

}

.bar1,
.bar2,
.bar3 {
    width: 100%;
    height: 10%;
    background-color: white;
    margin: .3rem 0;
    transition: 0.4s;
    border-radius: 1rem;

}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 3px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -8px);
    transform: rotate(45deg) translate(-7px, -3px);
}

.burgermenu {
    display: grid;
    position: fixed;
    grid-template-columns: 1fr;
    align-content: center;
    background: rgba(0, 174, 90);
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-size: 1.2rem;
    transition: 0.5s;
}

.burgermenu a {
    text-decoration: none;
}

.luk {

    pointer-events: none;
    opacity: 0;
}

.x {
    display: flex;
    margin: 0;
    position: absolute;
    cursor: pointer;
    top: 1%;
    left: 85%;
    font-size: 50px
}

.fade_in {
    animation-name: fade_in;
    animation-duration: .4s;

}

.fade_out {
    animation-name: fade_out;
    animation-duration: .4s;
    animation-direction: alternate;
}

.burger_icon {
    width: 80%;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-end: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    background: rgba(0, 174, 90, 0.10);
    border-color: rgba(0, 174, 90, 0.10);


}

.burger_icon span {

    width: 60%;
    height: 4px;
    margin: 8px auto;
    ;
    background: #fff;





}

#donate_fixed {
    position: fixed;
    width: 20%;
    font-weight: bolder;
    z-index: 7;
    top: 50%;
    right: 0%;
    font-size: 1.5rem;
    display: none;


}

#donate_fixed p {
    text-align: center;
    padding: .1rem;
    background: #00AE5A;
}


h1 {
    color: white;

}

p {
    color: white;
}

nav img,
#splash {
    width: 100%;
    overflow: hidden;
}

/*NAV*/

/*NAV*/


nav {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 4;
    background: rgba(0, 174, 90, 0.84);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.51);

}

#donate_nav {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-end: 1;
    grid-row-start: 1;
}

.so_me {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    align-content: center;
    width: 100%;
    overflow: hidden;

}

#splash {
    position: relative;
    z-index: 0;
    max-height: 667px;
}

#splash_img {
    width: 350%;
}

#logo {
    width: 65%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;

}

#splash_info {
    display: grid;
    background: rgba(114, 131, 123, 0.6);
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    padding: 1rem;
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0;
}

#splash_info p {
    font-size: .8rem;
    width: 70%;
}

#donate_front {

    background-color: #00AE5A;
    width: 50%;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    border-radius: 30px;
    padding: .5rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.51);
    position: absolute;
    top: 78%;
    left: 20%;
}

#arrow {
    width: 50%;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    border-radius: 30px;
    padding: .5rem;
    position: absolute;
    top: 87%;
    left: 20%;
    animation-name: hop;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

}

#menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: #727272;
    grid-column-gap: 1rem;
    position: sticky;
    top: 1px;
}

.menu_punkt {
    background: #BFBFBF;
    text-align: center;
    margin: .4rem;
}






/*GENERAL CSS*/









/*NAV*/
/*BURGER FOLD OUT MENU*
https://codepen.io/erikterwan/pen/EVzeRP/



/*BURGER FOLD OUT MENU*/





/*NAV*/



/*DATAVIZ*/

#earth_txt h1 {
    text-align: center;
}

#earth_txt h1 {
    font-size: 3rem;
    margin: 2rem 0 0 0;
}

#earth_txt p {
    text-align: left;
    margin: 1rem;
    padding: 1rem;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .1fr ;

}

.viz_text {

    font-size: 3vw;
    margin: 0;
}

 #grid_text {


        margin: 1rem;
        padding: 1rem;
     width: 60%;
     margin: 2rem auto;

        text-align: center;
        background: #00A05A;
        border-radius: 0px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

#earth {
    position: relative;
    background-image: url(earth_PNG16.webp);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vw;
    height: 30vw;
    margin: 0 auto;

    grid-row-start: 1;
    grid-row-end: 1;


}

#co2 {
    position: absolute;
    width: 100%;
    top: 15vw;
    margin-top: 0 auto;

}

.slidecontainer {
    display: none;
    width: 100%;
    transition: 3s ease;
}

.slider {
    -webkit-appearance: none;

    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #fafafa;
    outline: none;
    opacity: 0.7;
    transition: 3s ease;
    transition: opacity .2s;
    position: absolute;
    top: 50%;
}


.grid_text {
    display: block;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;

    appearance: none;
    transition: 3s ease;
    width: 65px;
    height: 65px;
    border: 1;
    background: url('fly.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;


}

.slider::-moz-range-thumb {

    transition: 3s ease;
    width: 65px;
    height: 65px;
    border: 1;
    background: url('fly.png');
    cursor: pointer;
}

#co2 button {
    position: absolute;
    background-color: rgba(255, 0, 0, 0);

    cursor: pointer;
    border: none;
}

#co2 button:hover {
    opacity: 0.8;
    transition: .3s ease;
}

#co2 button:hover p {
    display: block;
    color: white;
}

#co2 button p {
    display: none;
    font-size: 1rem;
}

#cairo {
    bottom: 4.5vw;
    right: 1.5vw;
    background-image: url(egypt.png);
    background-size: contain;
    background-repeat: no-repeat;

}

#moskva {
    top: -15vw;
    right: 4.5vw;
    background-image: url(Rusland.png);
    background-size: contain;
    background-repeat: no-repeat;

}

#newyork {
    top: -10vw;
    left: 4vw;
    background-image: url(USA.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#accra {
    top: 3vw;
    right: 7vw;
    background-image: url(Ghana.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#nuuk {
    top: -16vw;
    right: 14.5vw;
    background-image: url(greenland.png);
    background-size: contain;
    background-repeat: no-repeat;

}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);

    }

    100% {
        transform: scale(1);

    }
}

.donate {
    background-color: #00AE5A;
    width: 50%;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 1.8rem;
    border-radius: 30px;
    padding: 1rem;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.51);

    margin: 0 auto;

}

/*DATAVIZ*/





/*VIDEO*/



#video_grid {
    display: grid;
    grid-template-columns: 1fr;


}

#video_grid video {
    display: grid;
    width: 90%;
    margin: 2rem auto;
}

.column img {
    width: 100%;
}

.column {
    display: none;
}

.skyheader h1 {
    background-image: url(pics/sky3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0 5rem 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.42);
    text-align: center;
    font-size: 2rem;
    margin: 0;

}

/*VIDEO*/





/*FACTS*/

#fakta .skyheader h1 {
    background-image: url(pics/sky3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0 5rem 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.42);
    text-align: center;
    font-size: 1.5rem;
    margin: 0;

}

#sub_txt p {
    margin: 1rem;
    padding: 1rem;
}

#facts {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;

}

#facts h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0 0 0;
}

#facts p {
    margin: 1rem;
    padding: 1rem;
}

#facts a {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 5%;
    align-content: center;
    width: 100%;

}

#facts a:hover {
    opacity: .7;
}



#facts img {
    width: 80%;
    margin: 0 auto;
    margin: 0 auto;
}





/*FACTS*/





/*CTA*/



#cta_icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .5rem;
    margin: 1rem;
}

#cta_icons h1 {
    text-align: center;
}

.icon {
    display: grid;
    grid-template-columns: 1fr;
    align-content: flex-start
}

.icon p {
    align-content: flex-end;
}




.icon img {
    width: 50%;
    margin: 0 auto;
}

.icon:nth-child(1) img {
    width: 30%;
}

.icon:nth-child(4) img {
    width: 50%;
}

.icon:nth-child(3) img {
    width: 70%;
}

#icon_train img {
    display: grid;
    width: 60%;
    margin: 0 auto;
}

#icon_train h1 {
    text-align: center;
    font-size: 2rem;
}

#icon_train p {
    padding: 1rem;
}

#ctas {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    width: 100%;
    margin: 0;
    font-size:
}

.donate_bottom {
    color: white;
    text-align: center;
    background: #00AE5A;
    padding: .1rem;
    font-size: 3rem;
    font-weight: bolder;

}



.donate_medlem {
    color: white;
    text-align: center;
    background: grey;
    padding: .1rem;
    font-size: 3rem;
    font-weight: bolder;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.51);


}

/*CTA*/


/*FOOTER*/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
    background-color: #00AE5A;
    margin: 0;
}

footer img {
    width: 100%;
}

.so_me_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    grid-row-gap: 10%;
    grid-column-gap: 5%;
    margin: 1rem 0 1rem 0;
    padding: .5rem 0 .5rem 0;
}

.so_me_footer a img {
    width: 70%;
    margin: 0 auto;
}

.so_me_footer a {
    display: grid;
    margin: 0;
    padding: 0;
    align-content: center;

}


/*FOOTER*/



/*ANIMATIONS*/

@keyframes hop {
    0% {
        transform: translateY(1rem);
    }

    25% {
        transform: translateY(-1rem);

    }

    50% {
        transform: translateY(1rem);

    }

    75% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(1rem);

    }

}


@keyframes fade_in {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

@keyframes fade_out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



#earth {
    margin: 0 auto;
    width: 70vw;
    height: 70vw;
}

#co2 {
    top: 30vw;
}

button {
    width: 9vw;
    height: 15vw;
}

#newyork {
    top: -22vw;
    left: 10vw;
}

#nuuk {
    top: -35vw;
    right: 30.5vw;
}

#accra {
    top: 7vw;
    right: 18vw;
}

#cairo {
    top: 8vw;
    right: 5.5vw;
}

#moskva {
    top: -30vw;
    right: 7vw;
}


/*ANIMATIONS*/


/*MEDIA QUERRY*/

@media only screen and (min-width: 767px) {

    #donate_nav{
        display: none;
    }

    burger_icon {
        margin: 0 auto;
    }

    .burger_icon span {

        width: 40%;
        height: 7px;
        margin: 8px auto;
        background: #fff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;




    }


    #splash_img {
        width: 240%;
    }

    .so_me {
        grid-column-gap: 4%;
        width: 96%;
    }

    #splash {

        max-height: 1024px;

    }

    #splash_info {
        font-size: 2rem;
        padding: 1rem;
        width: 100%;
        top: 30%;
        left: 0;
    }

    #splash_info h1 {
        margin: 0;
    }

    #splash_info p {
        font-size: 1.2rem;
        width: 70%;
    }

    #donate_front {

        width: 50%;
        font-size: 3rem;
        padding: .5rem;
        top: 75%;
        left: 25%;
    }

    #arrow {
        width: 50%;
        font-size: 5rem;
        padding: .5rem;
        top: 87%;
        left: 25%;


    }

    /*DATAVIZ*/

    .earth_sky_left {
        display: none;
    }

    .earth_sky_right {
        display: none;
    }

    #earth_txt {
        text-align: center;
        color: white;
    }

    #earth_txt h1 {
        font-size: 2.5rem;
        margin: 4rem 0 0 0;
    }

    #earth_txt p {
        margin: 1.5rem;
        padding: 1.5rem;
        font-size: 1.4rem;
    }



    #earth {
        display: grid;
        align-content: center;


    }

    #earth img {
        width: 80%;

    }

    #dataviz {
        display: grid;

        position: relative;
    }

    #CO2 {
        text-align: center;
        color: white;
        position: absolute;
        top: 20%;
        left: 35%;
        font-size: 5rem;
    }

    .donate {
        width: 40%;
        text-align: center;
        margin: 0 auto;
        font-size: 2.5rem;
        padding: .5rem;

    }

    /*DATAVIZ*/



    /*VIDEO*/

    .skyheader h1 {
        background-image: url(pics/sky3.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 80%;
        height: 30%;
        padding: 5rem 0 10rem 0;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.42);

        font-size: 3rem;
        margin: 0 auto;

    }





    /*VIDEO*/

    /*FAKTA*/

    #fakta .skyheader h1 {
        background-image: url(pics/sky3.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 95%;
        padding: 8rem 0 10rem 0;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.42);

        font-size: 3.1rem;
        margin: 0 auto;

    }

    #sub_txt p {
        font-size: 1.5rem;
        margin: 2rem;
        padding: 2rem;
    }

    #facts {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        margin: 0 2rem;

    }

    #facts h1 {
        text-align: center;
        font-size: 2.5rem;
        margin: 2rem 0 0 0;
    }

    #facts p {
        font-size: 1.2rem;
        margin: 1rem;
        padding: 1rem;
    }

    #facts img {
        width: 90%;
        overflow: hidden;
        margin: 2rem auto;
    }


    /*FAKTA*/



    /*CTA*/

    #cta_icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: .5rem;
        margin: 0;
        font-size: 1rem;
    }

    .icon {
        display: grid;
        grid-template-columns: 1fr;
        align-content: flex-start;

    }

    .icon p {
        margin: 0 1rem;
        align-content: flex-end;

    }

    .icon img {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .icon:nth-child(1) img {
        width: 30%;
    }

    .icon:nth-child(4) img {
        width: 50%;
    }

    .icon:nth-child(3) img {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    #icon_train img {
        display: grid;
        width: 25%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    #icon_train p {
        padding: 1rem;
        width: 60%;
        margin: 0 auto;
        font-size: 1.1rem
    }


    #ctas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        width: 100%;
        margin: 0;
        font-size:
    }

    .donate_bottom {
        color: white;
        text-align: center;
        background: #00AE5A;
        padding: .1rem;
        font-size: 3rem;
        font-weight: bolder;
        width: 80%;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 2.5rem;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.51);



    }



    .donate_medlem {
        color: white;
        text-align: center;
        background: grey;
        padding: .1rem;
        font-size: 2.9rem;
        font-weight: bolder;
        width: 80%;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 2.5rem;
    }

    /*CTA*/

}


@media only screen and (min-width: 1000px) {

    .burger_icon {
        grid-column-start: 4;
        grid-column-end: 4;
    }

    .burgermenu {
        font-size: 2rem;
    }

    .burger_icon span {

        width: 80%;
        height: 7px;
        margin: 8px;
        background: #fff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: flex-end;


    }


    .loading {
        background: #2C6B9A;
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 100%;
    }

    .loading_ani {
        display: block;
        width: 80%;
        margin: 8rem auto 2rem auto;
        z-index: 200;
    }




    nav {
        position: fixed;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr .3fr;
        grid-template-rows: 1fr;
        z-index: 4;
        width: 100%;

    }

    #donate_nav {
        display: none;

    }

    #donate_fixed {
        display: block;
        position: fixed;
        width: 7%;
        z-index: 2;
        top: 50%;
        right: 0%;
        font-size: 1.5rem;

    }

    #donate_fixed p {
        padding: 1rem;
        border-radius: 20px 0px 00px 20px;
    }

    #splash_img {
        width: 110%;
        overflow: hidden;
    }

    #logo img {
        width: 40%;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .so_me {
        grid-column-gap: 4%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 5%;
        align-content: center;
        justify-content: center;
        margin-left: 5rem;
        right: 0;
        width: 60%;
        padding: 1rem;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;

    }

    #splash {
        max-height: 825px;

    }

    #splash_info {
        font-size: 1.8rem;
        padding: 1rem;
        width: 55%;
        top: 30%;
        left: 0;
    }

    #splash_info h1 {
        margin: 0;
        padding: 1rem;
        font-size: 2.5rem;
    }

    #splash_info p {
        font-size: 1.1rem;
        width: 70%;
    }

    #donate_front {

        width: 20%;
        font-size: 2.5rem;
        padding: .5rem;
        top: 79%;
        left: 40%;
    }

    #arrow {
        width: 10%;
        font-size: 4rem;
        padding: .5rem;
        top: 87%;
        left: 46%;


    }

    /*DATAVIZ*/

    #earth_txt {
        text-align: center;
        color: white;
        width: 50%;
        margin: 0 auto;
    }

    #earth_txt h1 {
        font-size: 2.5rem;
        margin: 4rem 0 0 0;
    }

    #earth_txt p {
        margin: 1.5rem;
        padding: 1.5rem;
        font-size: 1rem;
    }



    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr .1fr .1fr .1fr;


    }



    #grid_text {


        margin: 1rem auto;
        padding: 1rem;
        text-align: center;
        background: #00A05A;
        border-radius: 30px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .earth_sky_left {
        display: block;
        background-image: url(pics/sky%201.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .earth_sky_right {
        display: block;
        margin-top: 9rem;
        background-image: url(pics/sky%201.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    #grid_text p {
        text-align: left;
    }

    .viz_text {
        font-size: 1.5vw;
        padding: .5rem;

    }


    #earth {
        margin: 0 auto;
        width: 30vw;
        height: 30vw;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    #co2 {
        top: 30vw;
    }

    button {
        width: 3vw;
        height: 7vw;
    }

    #newyork {
        top: -24vw;
        left: 4vw;
    }

    #nuuk {
        top: -31vw;
        right: 14vw;
    }

    #accra {
        top: -13.5vw;
        right: 7vw;
    }

    #cairo {
        top: -21vw;
        right: 3vw;
    }

    #moskva {
        top: -28vw;
        right: 4vw;
    }

    #earth img {
        width: 35%;
        margin: 0 auto 4rem auto;

    }

    #dataviz {
        display: grid;

        position: relative;
    }

    #CO2 {
        text-align: center;
        color: white;
        position: absolute;
        top: 20%;
        left: 45%;
        font-size: 3rem;
    }

    .donate {
        width: 15%;
        text-align: center;
        margin: 0 auto 5rem auto;
        font-size: 2rem;
        padding: 1rem;


    }

    /*DATAVIZ*/



    /*VIDEO*/

    #staygrounded {
        width: 80%;
        margin: 0 auto;
    }



    .skyheader h1 {
        background-image: url(pics/sky3.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 40%;
        height: 30%;
        padding: 5rem 0 9rem 0;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.42);
        font-size: 3rem;
        margin: 0 auto;

    }

    #video_grid {
        display: grid;
        grid-column-gap: 2vw;
        grid-template-columns: 1fr 3fr 1fr;
        justify-content: center;
    }

    #video_grid video {
        display: grid;
        margin: 0 auto;
        width: 100%;
    }


    .column {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        align-content: flex-start;

    }

    .column:nth-child(2) {
        margin: 2vw
    }


    .column img {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        align-content: center;

    }

    .column p {
        margin: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }




    /*VIDEO*/

    /*FAKTA*/

    #fakta {

        width: 70%;
        margin: 0 auto;
    }


    #fakta .skyheader h1 {
        background-image: url(pics/sky3.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 55%;
        padding: 6.5rem 0;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.42);
        font-size: 2.5rem;
        margin: 0 auto;

    }

    #sub_txt p {
        width: 90%;
        font-size: 1rem;
        margin: 2rem auto;
        padding: 2rem;
    }

    #facts {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        margin: 0 2rem;

    }

    #facts h1 {
        text-align: center;
        font-size: 2.5rem;
        margin: 2rem 0 0 0;
    }

    #facts p {
        font-size: 1rem;
        margin: 1rem;
        padding: 1rem;
    }

    #facts img {
        width: 90%;
        overflow: hidden;
        margin: 2rem auto;
        background: green;
    }


    /*FAKTA*/



    /*CTA*/

    #cta_icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: .5rem;
        margin: 0 auto 5rem auto;
        width: 60%;
        font-size: 1rem;
    }

    .icon {
        display: grid;
        grid-template-columns: 1fr;
        align-content: flex-start;
    }

    .icon img {
        width: 25%;
        margin: 0 auto;
    }

    .icon h1 {
        text-align: left;
        font-size: 2rem;

    }

    .icon p {
        font-size: 1rem;
        width: 70%;
        margin: 0 auto;
        padding: 1rem;
        align-content: flex-end;

    }

    .icon:nth-child(3) img {
        align-content: flex-start;
    }

    .icon:nth-child(2) img {
        width: 65%;
        margin: 0 auto
    }

    #icon_train img {
        display: grid;
        width: 25%;
        margin: 0 auto;
    }

    #icon_train p {
        padding: 1rem;
        width: 40%;
        margin: 0 auto;
        font-size: 1rem
    }

    #icon_train h1 {
        font-size: 2.5rem;

    }

    #ctas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: ;
        width: 60%;
        margin: 5rem auto;
    }

    .donate_bottom {
        color: white;
        text-align: center;
        background: #00AE5A;
        padding: .1rem;
        font-size: 2rem;
        font-weight: bolder;
        width: 50%;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 2.5rem;


    }



    .donate_medlem {
        color: white;
        text-align: center;
        background: grey;
        padding: .1rem;
        font-size: 2rem;
        font-weight: bolder;
        width: 50%;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 2.5rem;
    }

    /*CTA*/





    footer {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 0;
        background-color: #00AE5A;
        margin: 0;
    }

    #information {
        display: grid;
        grid-template-rows: 1fr 1fr;

    }

    #information p {
        font-size: 1.7rem;
    }

    footer img {
        width: 40%;
        padding: 1rem;

    }

    .so_me_footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-content: center;
        grid-row-gap: inherit;
        grid-column-gap: 5%;
        margin: 0 3rem 0 0;
        padding: 0 0 0 0;
    }

    .so_me_footer a img {
        width: 120%;
        margin: 0 auto;
    }

    .so_me_footer a {
        display: grid;
        margin: 0;
        padding: 0;
        align-content: center;

    }

}

@media only screen and (min-width: 1700px) {



    .burger_icon span {
        width: 50%;
    }

    #logo img {
        width: 40%;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .burgermenu {
        font-size: 3rem;
    }

    #splash {
        max-height: 1080px;

    }


    #splash_info h1 {
        margin: 0;
        padding: 1rem;
        font-size: 4rem;
    }

    #splash_info p {
        font-size: 1.2rem;
        width: 70%;
    }

    #donate_front {

        width: 20%;
        font-size: 3.5rem;
        padding: .5rem;
        top: 79%;
        left: 40%;
    }

    #arrow {
        width: 50%;
        font-size: 5rem;
        padding: .5rem;
        top: 87%;
        left: 25%;


    }




    /*DATAVIZ*/

    #earth_txt {
        text-align: center;
        color: white;
        width: 50%;
        margin: 0 auto;
    }

    #earth_txt h1 {
        font-size: 5rem;
        margin: 4rem 0 0 0;
    }

    #earth_txt p {
        margin: 1.5rem;
        padding: 1.5rem;
        font-size: 1.4rem;
    }


    #earth img {
        width: 40%;
        margin: 0 auto 4rem auto;

    }



    #CO2 {
        text-align: center;
        color: white;
        position: absolute;
        top: 20%;
        left: 42.5%;
        font-size: 5rem;
    }

    .donate {
        width: 25%;
        text-align: center;
        margin: 0 auto 5rem auto;
        font-size: 4rem;
        padding: 1rem;


    }

    /*DATAVIZ*/



    /*VIDEO*/
    .skyheader h1 {
        background-image: url(pics/sky3.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 40%;
        height: 30%;
        padding: 8rem 0 10rem 0;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.42);
        font-size: 4rem;
        margin: 0 auto;

    }

    /*VIDEO*/

    /*FAKTA*/

    #fakta {

        width: 70%;
        margin: 0 auto;
    }


    #fakta .skyheader h1 {
        background-image: url(pics/sky3.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 55%;
        padding: 8rem 0 10rem 0;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.42);
        font-size: 3.5rem;
        margin: 0 auto;

    }

    /*FAKTA*/


    footer {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 0;
        background-color: #00AE5A;
        margin: 0;
    }

    #information p {
        font-size: 2rem;
    }
}



/*MEDIA QUERRY*/



/*ANIMATIONS*/
